anyio==4.9.0
beautifulsoup4==4.13.3
certifi==2025.1.31
charset-normalizer==3.4.1
colorama==0.4.6
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
iniconfig==2.1.0
packaging==24.2
pluggy==1.5.0
pytest==8.3.5
requests==2.32.3
sniffio==1.3.1
soupsieve==2.6
termgraph @ file:///mnt/c/Users/redmi/Desktop/proga/DS_BOOTCAMP/DS_Bootcamp.Day03.ID_886513-1/src/ex01/termgraph
typing_extensions==4.13.1
urllib3==2.3.0
